version: '3.9'

services:
  api:
    build: .
    container_name: node_api
    restart: always
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - JWT_SECRET=supersecreto123
      - JWT_EXPIRES_IN=1h
      - MONGODB_URI=mongodb://root:password123@mongo:27017/mydatabase?authSource=admin
    depends_on:
      - mongo

  mongo:
    image: mongo:5
    container_name: mongo_db
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password123
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
